<div class="inner cover">
    <h1 class="cover-heading">Welcome.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad tempore, maxime blanditiis consequatur facilis enim facere, dolorem nostrum neque, iusto porro iste dignissimos recusandae repellendus obcaecati aliquid. Ullam, dolorum, itaque..</p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>


